/* Write your CSS here! */

*{
    margin: 0;
    padding: 0;


}

body{
    margin: 8px;
    display: block;

}

.heading #mainHeading{
    color:red;
    font-size:large;

}

#testP{
    color:green


}

.funParagraph img()